.btn{
    display: grid;
    place-items: center; /* Center items both horizontally and vertically */
    gap: 10px; /* Optional: spacing between buttons */
}
.btn a{
    height: 100%;
    width: 15%;
}
body{
    background-image: url('https://www.cs.mju.ac.th/assets/bg-home.1831a7d9.png');

            height: 100vh; /* Full viewport height */
            width: 100vw; /* Full viewport width */
            
}